{% extends "base.html" %}

{% block content %}
<h1 class="mb-3">User List</h1>

<a href="{{ url_for('register') }}" class="btn btn-success mb-3">Register New User</a>

<h2>Current Users ({{ users|length }} total)</h2>
<table class="table table-striped table-hover">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}